@media (min-width: 700px) {
    .contain {
        display: flex;
        max-width: 1200px;
        /* border: 1px solid green; */
        margin: 0 auto;
        background-color: #f4f5f9;
        height: 500px;
    }
    /* .contain p {
    color: black;
} */
    .contain-details {
        display: flex;
        flex-direction: column;
        /* border: 1px solid green; */
        width: 35%;
        padding-left: 1%;
        justify-content: center;
    }
    .title {
        color: #9faebe;
    }
    .description {
        color: #000;
        font-size: 36px;
        /* font-weight: bold; */
    }
    .contain-details a {
        text-decoration: none;
        width: 180px;
        height: 48px;
        background-color: black;
        font-size: 18px;
        color: rgb(224, 209, 209);
        /* text-align: center; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
    }
    .image {
        width: 65%;
        height: 100%;
        /* border: 1px solid blue; */
    }
    .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 75% 50%;
    }
}
@media (max-width: 699px) {
    .contain {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1200px;
        /* border: 1px solid green; */
        margin: 0 auto;
        background-color: #f4f5f9;
        height: 500px;
    }
    /* .contain p {
    color: black;
} */
    .contain-details {
        display: flex;
        flex-direction: column;
        /* border: 1px solid green; */
        width: 100%;
        padding-left: 1%;
        justify-content: center;
    }
    .title {
        color: #9faebe;
    }
    .description {
        color: #000;
        font-size: 36px;
        /* font-weight: bold; */
    }
    .contain-details a {
        text-decoration: none;
        width: 180px;
        height: 48px;
        background-color: black;
        font-size: 18px;
        color: rgb(224, 209, 209);
        /* text-align: center; */
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
    }
    .image {
        width: 100%;
        height: 100%;
        /* border: 1px solid blue; */
    }
    .image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 75% 50%;
    }
}
