.contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid blue; */
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: #f4f5f9; */
    padding: 1em 1%;
}
.contain img {
    transition: filter 0.3s, transform 0.5s;
}
.contain img:hover {
    filter: brightness(110%);
    transform: scale(1.05);
    cursor: pointer;
}
